body {
  background: url(../images/Tileable_Stars.jpeg);
  background-repeat: repeat;
  background-size: 512px;
  background-position: 0;

  animation: slideleft 75s linear 1s infinite;
}

@keyframes slideleft {
  0% { background-position: 0 0; }
  100% { background-position: -512px 0; }
}

#the-sun {

  position: absolute;
  margin: 0;
  transform: translate(-84%, -40%);
  z-index: -5;

}