#text-is-evil {
    color: white;
    font-family: 'Trispace', sans-serif;
}

#form {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(.2rem);
    width: 25vw;
    border-radius: 30px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Trispace', sans-serif;
    padding: 0.2vh;
}

#header {
    color: white;
    text-align: center;
    font-family: 'Trispace', sans-serif;
}
#submit {
    margin-top: 1.5vh;
    color: white;
    font-family: 'Trispace', sans-serif;
    background: linear-gradient(45deg, #a94f17 0%, #3f2650 100%);
    background-repeat: no-repeat;
    border-color: rgba(255, 255, 255, 0.1);;
    border-radius: 10px;
    cursor: pointer;
    animation: glowing 20s linear infinite;
}

#submit-btn {
    padding-top: 5px;
    padding-bottom: 10px;
}

#flex-container{
    display: flex;
    flex-grow: 4;
    flex-direction: row;
    position: relative;
}

#radio{
    cursor: pointer;
}

.answers{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(.2rem);
    width: 25vw;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-family: 'Trispace', sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5vh;
    position: absolute;
    right: 7vw;
    top: 15vh;
}