#text-is-evil {
    color: white
}

#form {
}

#header {
    color: white;
}

#quiz {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(.2rem);
    width: 25vw;
    border-radius: 30px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}