.pizza-planet {
    
}

.list-container-0 {
    visibility: hidden;
    width: 20vw;
    height: 53vh;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, 0);
    top: 44.5vh;
    left: 10vw;
}

.list-container-1 {
    visibility: hidden;
    width: 20vw;
    height: 53vh;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, 0%);
    bottom: 44.5vh;
    left: 20vw;
}

.list-container-2 {
    visibility: hidden;
    width: 20vw;
    height: 53vh;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, 0);
    top: 44.5vh;
    left: 30vw;
}

.list-container-3 {
    visibility: hidden;
    width: 20vw;
    height: 53vh;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, 0%);
    bottom: 44.5vh;
    left: 40vw;
}

.list-container-4 {
    visibility: hidden;
    width: 20vw;
    height: 53vh;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, 0);
    top: 44.5vh;
    left: 50vw;
}

.list-container-5 {
    visibility: hidden;
    width: 20vw;
    height: 53vh;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, 0%);
    bottom: 44.5vh;
    left: 60vw;
}

.list-container-6 {
    visibility: hidden;
    width: 20vw;
    height: 53vh;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, 0);
    top: 44.5vh;
    left: 70vw;
}

.list-container-7 {
    visibility: hidden;
    width: 20vw;
    height: 53vh;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, 0%);
    bottom: 44.5vh;
    left: 80vw;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Trispace:wght@100&display=swap');

#header{
    color: white;
    font-family: 'Trispace', sans-serif;
}