#menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.planet-ul-list {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#submit {
    margin-top: 1.5vh;
    color: white;
    background: linear-gradient(45deg, #a94f17 0%, #3f2650 100%);
    background-repeat: no-repeat;
    border-color: rgba(255, 255, 255, 0.1);;
    border-radius: 10px;
    cursor: pointer;
    animation: glowing 20s linear infinite;
}

#Saturn {
    padding-right: -.5vw;
    padding-bottom: 4.5px;
}

.planet-ul-list li {
    padding-right: 4vw;
}

.table {
    margin-top: 37vh;
}

.winner-card {

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    color: white;
    outline: none;
    border: none;
    background: rgba(198, 198, 198, 0.2);
    z-index: 0;
    border-radius: 10px;
    backdrop-filter: blur(.3rem);
    padding: 10px;

}
