.planet-ul-list li {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

#Saturn {
    padding-right: -1vw;
    padding-bottom: 5px;
}

.planet-ul-list li {
    padding-right: 3vw;
}

.table {
    margin-top: 37vh;
}