.pizza-planet {

}

.flex-planet {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: none;
}

.main-container-0 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 10vw;
}

.main-container-1 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 20vw;
}

.main-container-2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 30vw;
}

.main-container-3 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 40vw;
}

.main-container-4 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 50vw;
}

.main-container-5 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 60vw;
}

.main-container-6 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 70vw;
}

.main-container-7 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 80vw;
}
