.planet-flex {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: none;
}

li {
    list-style: none;
}

li:hover {
    cursor: pointer;
}

.scalable {
    width: 75px;
    height: auto;
}

#Saturn {
    width: 150px;
    height: auto;
}

.drop-shadow {
    filter: drop-shadow(0 0 2mm #000) 
}

