.planet-flex {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: none;
}

li {
    list-style: none;
}

li:hover {
    cursor: pointer;
}

.scalable {
    width: 200px;
    height: auto;
}

