#display-text {
    
    color: white;
    visibility: visible;
    font-family: 'Trispace', sans-serif;
    
    
}

#info {
    background: rgba(255, 255, 255, 0.1);
    font-family: 'Trispace', sans-serif;
    backdrop-filter: blur(.2rem);
    overflow: hidden;
    width: 25vw;
    border-radius: 30px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: vh;
}

#info {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(.2rem);
    overflow: hidden;
    width: 25vw;
    border-radius: 30px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}




#submit-button {
    background: rgba(255, 255, 255, 0.1);
    font-family: 'Trispace', sans-serif;
    backdrop-filter: blur(.2rem);
    width: 25vw;
    border-radius: 30px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
}

#relative {
    position: relative;
    top: 50px;
    
  }

  #relative-top {
    position: relative;
    bottom: 50px;
    
  }
  
  #absolute {
    position: absolute;
  }

  input { 
    text-align: center; 
    font-family: 'Trispace', sans-serif;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

#relative-top-weight {
    position: relative;
    top: 75px;
    
  }

  #relative-bottom-weight {
    position: relative;
    bottom: 75px;
    
  }



